<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <!-- Contenedor de búsqueda -->
    <div class="search-container">
      <!-- Barra de búsqueda con enlace bidireccional a 'searchTerm' y evento de entrada -->
      <input [(ngModel)]="searchTerm" (input)="filterJugadores()" class="input-search" placeholder="Buscar jugadores...">
      <!-- Icono de búsqueda -->
      <span class="search-icon">&#128269;</span>
    </div>
    <!-- Mostrar mensaje de error si 'errorMessage' tiene valor -->
    <div *ngIf="errorMessage">
      <p>{{ errorMessage }}</p>
    </div>
    <!-- Iterar sobre 'filteredJugadores' y crear una tarjeta para cada jugador -->
    <div *ngFor="let jugador of filteredJugadores" class="card">
      <!-- Mostrar nombre del jugador, o un mensaje si no está disponible -->
      <h3>{{ jugador.nombre ? jugador.nombre : 'Nombre no disponible' }}</h3>
      <p>Posición: {{ jugador.posicion }}</p>
      <p>Afinidad: {{ jugador.afinidad }}</p>
      <p>Equipo: {{ jugador.equipo }}</p>
      <p>Supertécnica: {{ jugador.supertecnicas }}</p>
      <img [src]="jugador.imagen_url" alt="{{ jugador.nombre }}" class="jugador-imagen">
    </div>
  </div>
</body>
</html>
